@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

@media (min-width: 768px) {
  :root {
    font-size: 105%;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 110%;
  }
}
